argilla==1.25.0
schedule==1.2.2
pandas==1.5.3
tqdm==4.70.0
prodict==0.8.18
langchain==0.3.27
openai==1.109.1
tiktoken==0.14.0
easydict==1.11
wandb==0.29.0
transformers==4.57.6
scikit-learn==1.9.0
faiss-cpu==1.15.0
sentence-transformers==6.0.1
langchain-google-genai==0.0.9
pillow==12.3.0
